---
import { getCollection, getEntry } from 'astro:content';

const priorityInternalLinks = ["home", "types", "advantages"]
const internalLinks = (await getCollection('internal-links')).sort((a, b) => {
  const aIndex = priorityInternalLinks.indexOf(a.id);
  const bIndex = priorityInternalLinks.indexOf(b.id);
  if (aIndex === -1 && bIndex === -1) return 0;
  if (aIndex === -1) return 1;
  if (bIndex === -1) return -1;
  return aIndex - bIndex;
});

const externalLinks = (await getCollection('external-links')).sort((a, b) => {
  if (a.id === 'typeScriptHandbook') return -1;
  if (b.id === 'typeScriptHandbook') return 1;
  return 0;
});
const footer = await getEntry('globals', 'footer');
---

<footer class="text-center mt-5 p-4 bg-light border-top small text-muted">
    <div class="row">

        <div class="col-md-6">
            <nav aria-label="Internal site navigation">
                <ul class="list-unstyled">
                    {internalLinks.map(({ data }) => (
                        <li>
                            <a href={data.url} target={data.external ? "_blank" : "_self"} rel={data.external ? "noopener noreferrer" : undefined}>
                                {data.label}
                            </a>
                        </li>
                    ))}
                </ul>
            </nav>
        </div>

        <div class="col-md-6">
            <nav aria-label="External official resources">
                <ul class="list-unstyled">
                    {externalLinks.map(({ data }) => (
                        <li>
                            <a href={data.url} target={data.external ? "_blank" : "_self"} rel={data.external ? "noopener noreferrer" : undefined}>
                                {data.label}
                            </a>
                        </li>
                    ))}
                </ul>
            </nav>
        </div>
    </div>

    {footer && <div set:html={footer.data.footerContent} />}
</footer>